<%= erb :header %>

<div id='archive'>
<% @posts.each_with_index do |post, index| %>
  <% if authorized? || post.published %>

    <article class='post_<%= index %>'>

      <% if authorized? %>
        <p class='meta'>id=<%= post.id %></p>
        <% if post.published %>
          <p class='meta published'>published</p>
        <% end %>
      <% end %>

      <div class='text'>
        <h2><%= post.title %></h2>
        <%= post.body %>
      </div>

      <div class='images'>
        <%= post.images %>
      </div>
      
    </article>

  <% end %>
<% end %>
</div>

<%= erb :nav %>

<% if authorized? %><a href='/admin' id='admin'>admin</div><% end %>