<%= erb :header %>

<% @posts.each do |post| %>
  <% if authorized? || post.published %>

  	<h2><%= post.title %></h2>

    <%= post.images %>

  	<% if authorized? %>
  		<p class='meta'>id=<%= post.id %></p>
  		<% if post.published %>
  			<p class='meta published'>published</p>
  		<% end %>
  	<% end %>

  	<p><%= post.body %></p>

  <% end %>
<% end %>

<% if authorized? %><a href='/admin' id='admin'>admin</div><% end %>