<%= erb :header %>

<div id='page'>
  <article>

    <div class='text'>
      <%= @page.body %>
    </div>

    <div class='images'>
      <%= @page.images %>
    </div>

  </article>
</div>

<%= erb :nav %>

<%= erb :loader %>

<% if authorized? %><a href='/admin' id='admin'>admin</a><% end %>